<h1>Listing bubbles</h1>

<table>
  <tr>
    <th>Text</th>
    <th>User</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @bubbles.each do |bubble| %>
  <tr>
    <td><%= bubble.text %></td>
    <td><%= bubble.user_id %></td>
    <td><%= link_to 'Show', bubble %></td>
    <td><%= link_to 'Edit', edit_bubble_path(bubble) %></td>
    <td><%= link_to 'Destroy', bubble, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Bubble', new_bubble_path %>
