<% content_for :sidebar do %>
    <ul>
      <% if authorized?("project.edit", @project) %>
          <li>
            <%= link_to t('projects.edit'), edit_project_path(@project) %>
          </li>
      <% end %>
      <li>
        <%= link_to t('projects.back_to_timeline'), :controller => 'timeline', :action => 'index' %>
      </li>
    </ul>
<% end %>

<h1><%= @project.name %></h1>
<%= image_tag @project.avatar_url(:thumb).to_s, :class => 'project_image' %>
<p><%= @project.desc %></p>
<div class="clear"></div>

<% unless current_user.nil? %>
    <% if current_user.follows_project?(@project) %>
        <%= button_to t('projects.unfollow'), unfollow_project_path(:id => @project.id) %>
    <% else %>
        <%= button_to t('projects.follow'), follow_project_path(:id => @project.id) %>
    <% end %>
<% end %>

<% if authorized?("bubbles.create", @project) %>
    <%= render 'bubbles/form' %>
<% end %>

<ul id="postlist">
  <%= render @project.bubbles.reverse %>
</ul>
