<p>
  <% if current_user.follows_project? @project %>
    <%= button_to t('projects.unfollow'), unfollow_project_path(:id => @project.id) %>
  <% else %>
    <%= button_to t('projects.follow'), follow_project_path(:id => @project.id) %>
  <% end %>
</p>

<%= render 'bubbles/form' %>

<p>
  <b>Name:</b>
  <%= @project.name %>
</p>

<p>
  <b>Desc:</b>
  <%= @project.desc %>
</p>

<p>
  <b>Url:</b>
  <%= @project.url %>
</p>

<p>
  <b>Slug:</b>
  <%= @project.slug %>
</p>

<p>
  <b>User:</b>
  <%= @project.user.name %>
</p>


<%= link_to 'Edit', edit_project_path(@project) %> |
<%= link_to 'Back', projects_path %> |
<%= link_to t('projects.back_to_timeline'), :controller => 'timeline', :action => 'index' %>

<ul id="postlist">
<%= render @project.bubbles.reverse %>
</ul>
