<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
  <title>Sodium</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :defaults %>
  <%= javascript_include_tag "http://ajax.googleapis.com/ajax/libs/jquery/1.5.0/jquery.min.js" %>
  <%= javascript_include_tag "jquery.charCount" %>
  <%= csrf_meta_tag %>
</head>
<body>

<div id="wrap">

  <div id="header">

    <h1><a href="/">Sodium</a></h1>

    <h2>where Open Source has a home..</h2>
    <p style="float:right">
      <% unless current_user.nil? %>
        <%= link_to "logout", logout_path %>
      <% else %>
        <%= link_to "login", login_path %>
      <% end %>
    </p>

  </div>

  <div id="contentwrap">

    <div id="content">
      <% if notice %>
          <p class="notice"><%= notice %></p>
      <% end %>
      <% if flash[:error] %>
          <p class="error"><%= flash[:error] %></p>
      <% end %>

      <%= yield %>

    </div>

    <div id="sidebar">
      <% unless current_user.nil? %>
          <h3>Projects</h3>
          <ul>
            <%= render current_user.projects %>
          </ul>
          <%= link_to 'Create new project', new_project_url %>
      <% end %>

      <h3>New Projects</h3>
      <ul>
        <% Project.all(:limit => 5, :order => 'created_at DESC').each do |p| %>
            <%= render :partial => '/projects/project', :locals => {:project => p} %>
        <% end %>
      </ul>
      <% if content_for?(:sidebar) %>
          <%= yield :sidebar %>
      <% end %>
    </div>

  </div>

  <div style="clear: both;"></div>

  <div id="bottom"></div>

</div>

<div id="footer">
  <p>
    <strong>Languages</strong> &middot;
    <a href="?lang=en">English</a> &middot;
    <a href="?lang=de">Deutsch</a> &middot;
    <a href="?lang=it">Italiano</a>
  </p>
  <p>
    <%= link_to 'About', pages_about_path %> &middot;
    <%= link_to 'Help', pages_help_path %> &middot;
    <%= link_to 'Contact', pages_contact_path %> &middot;
    <%= link_to 'Privacy', pages_privacy_path %> &middot;
    <%= link_to 'Terms', pages_tos_path %>
    &copy; Copyright 2011 <a href="#">Sodium</a>
  </p>
</div>

</div>

</body>

</html>
